# Importing and cleaning Junior Olympics ranking data


How has the distribution of participating teams from across the country changed since 2010? 
How have non-california teams performed since 2010?
Do the same teams dominate both girls and boys categories?

In [1]:
from tabula import read_pdf
import pandas as pd

In [2]:
import PyPDF2

In [3]:
import os

In [4]:
import re
import numpy as np

In [5]:
pd.options.display.max_rows = 1000

## Import and clean pdf files
Import and clean using a function that works with the format of the majority of the files.

In [6]:
folder_path = "/home/jessie/Documents/Data"

files = os.listdir(folder_path)
files = [x for x in files if ('.pdf' in x ) & ~('2018' in x) & (('Boys' in x) | ('Girls' in x)) & ~('2012 Girls' in x)]

In [7]:
files

['2016 Boys.pdf',
 '2013 Girls.pdf',
 '2012 Boys.pdf',
 '2013 Boys.pdf',
 '2017 Boys.pdf',
 '2015 Girls.pdf',
 '2014 Boys.pdf',
 '2017 Girls.pdf',
 '2014 Girls.pdf',
 '2015 Boys.pdf',
 '2016 Girls.pdf']

In [8]:
def clean_df(df, filename):
    df = df.set_index('Finish')

    df = df.dropna(axis=0, how='all')

    cols = df.columns.to_series()
    cols = cols.dropna()
    filtered_cols = cols[~cols.str.contains(r'unnamed', flags=re.I)]

    df = df.dropna(axis=1, how='all')
    df.columns = filtered_cols

    #move second set of columns to top
    grps = (df.index == 'Finish').cumsum()
    dfs = []
    for grp, dfg in df.groupby(grps):
        if grp != 0:
            dfg.columns = dfg.iloc[0].values
            dfs.append(dfg)
        else: dfs.append(dfg)

    df_new = pd.concat(dfs, axis=1, sort=False)
    df_new = df_new.drop('Finish', axis=0)
    df_new = df_new.dropna(axis=0, how='all')

    cols = df_new.columns.to_series()
    cols = cols.dropna()
    filtered_cols = cols[~cols.str.contains(r'unnamed', flags=re.I)]

    df_new = df_new.loc[:, df_new.columns.notnull()]
    df_new.columns = filtered_cols

    df_new = df_new.apply(lambda col: col.str.upper())

    df_stacked = df_new.stack().reset_index()
    df_stacked = df_stacked.rename(columns = {'level_0':'Finish', 'level_1':'Category', 0:'Team'})
    df_stacked['Age'] = df_stacked['Category'].str.extract(r'([0-9]{2})')
    df_stacked['Sex'] = df_stacked['Category'].str.extract(r'\b(\w+)$')
    df_stacked = df_stacked.drop('Category', axis=1)
    df_stacked['Year'] = filename
    df_stacked['Year'] = df_stacked['Year'].str.extract('^([\w\-]+)')
    
    return df_stacked

In [9]:
data = pd.DataFrame(columns=['Finish', 'Team', 'Age', 'Sex', 'Year'])

for pdf in files:
    
    df = read_pdf(pdf, stream=True, pages='all')
    df_clean = clean_df(df,pdf)
    data = pd.concat([data, df_clean], axis=0, sort=False)

In [10]:
data['Year'].value_counts()

2015    704
2017    699
2016    642
2014    589
2013    558
2012    300
Name: Year, dtype: int64

## Import and clean remaining pdf files
A few of the files have a different format and required slightly different functions to import and clean.

In [11]:
other_files = ['2010.pdf', '2011.pdf', '2012 Girls.pdf']

In [12]:
def clean_df_other(df, filename):
    df = df.set_index('Finish')
    grps = (df.index == 'Finish').cumsum()

    dfs = []
    for grp, dfg in df.groupby(grps):
        if grp != 0:
            dfg.columns = dfg.iloc[0].values
            dfs.append(dfg)
        else: dfs.append(dfg)
        
    df_new = pd.concat(dfs, axis=1, sort=False)
    df_new = df_new.drop('Finish', axis=0)
    df_new = df_new.dropna(axis=0, how='all')

    cols = df_new.columns.to_series()
    cols = cols.dropna()
    filtered_cols = cols[~cols.str.contains(r'unnamed', flags=re.I)]
    #filtered_cols = filtered_cols[~filtered_cols.str.contains(r'21', flags=re.I)]

    df_new = df_new.dropna(axis=1, how='all')
    df_new.columns = filtered_cols

    df_new = df_new.apply(lambda col: col.str.upper())
    
    df_stacked = df_new.stack().reset_index()
    df_stacked = df_stacked.rename(columns = {'level_0':'Finish', 'level_1':'Category', 0:'Team'})
    df_stacked['Age'] = df_stacked['Category'].str.extract(r'([0-9]{2})')
    df_stacked['Sex'] = df_stacked['Category'].str.extract(r'\b(\w+)$')
    df_stacked = df_stacked.drop('Category', axis=1)
    df_stacked['Year'] = filename
    df_stacked['Year'] = df_stacked['Year'].str.extract('^([\w\-]+)')
    return df_stacked

In [13]:
for pdf in other_files:
    
    df = read_pdf(pdf, stream=True, pages='all')
    df_clean = clean_df_other(df,pdf)
    data = pd.concat([data, df_clean], axis=0, sort=False)

In [14]:
data['Year'].value_counts()

2015    704
2017    699
2016    642
2014    589
2012    559
2013    558
2011    512
2010    352
Name: Year, dtype: int64

In [15]:
files_2018 = os.listdir(folder_path)
files_2018 = [x for x in files_2018 if ('2018' in x)]

In [16]:
files_2018

['2018JOresults-14UG.pdf',
 '2018JOresults-18uB.pdf',
 '2018JOresults-10UG.pdf',
 '2018JOresults-12UG.pdf',
 '2018JOresults-18UG.pdf',
 '2018JOresults-12uB.pdf',
 '2018JOresults-16UG.pdf',
 '2018JOresults-16uB.pdf',
 '2018JOresults-10UM.pdf',
 '2018JOresults-14uB.pdf']

In [17]:
df = read_pdf('2018JOresults-14uB.pdf', pages='all', lattice=True)

In [18]:
df

     14 & Under Boys               Unnamed: 1      Unnamed: 2
0             Flight             Team\rFinish       Team Name
1                NaN                        1      VANGUARD A
2                  2            SOCAL BLACK A             NaN
3                  3               LA PREMIER             NaN
4                  4               STANFORD A             NaN
5                  5         SHORE AQUATICS A             NaN
6                  6          NEWPORT BEACH A             NaN
7                  7              LAMORINDA A             NaN
8                  8               FOOTHILL A             NaN
9                  9                DEL MAR A             NaN
10                10                  OCWPC A             NaN
11                11              SD Shores A             NaN
12                12              GREENWICH A             NaN
13                13                    680 A             NaN
14                14                NORTHWOOD             NaN
15                15                     ORWP             NaN
16                16                 TROJAN A             NaN
17                17              ROSE BOWL A             NaN
18                18              CC UNITED A             NaN
19                19                     SHAQ             NaN
20                20                 LA JOLLA             NaN
21                21             SOCAL GOLD B             NaN
22                22                   P.V. A             NaN
23                23          ROYAL 559 BLACK             NaN
24                24             UTAH PREMIER             NaN
25                25     HUNTINGTON BEACH WPC             NaN
26                26                    CDM A             NaN
27                27         AMERICAN RIVER A             NaN
28                28                  SJWPF A             NaN
29                29              ST. ANDREWS             NaN
30                30                  TRIDENT             NaN
31                31         SANTA CRUZ WAXEM             NaN
32                32                    LAWPC             NaN
33                33                    DAVIS             NaN
34                34              CC UNITED B             NaN
35                35               PRAETORIAN             NaN
36                36   CHICAGO PARKS DISTRICT             NaN
37                37                    680 B             NaN
38                38              LAKE OSWEGO             NaN
39                39            OREGON EMPIRE             NaN
40                40              PUGET SOUND             NaN
41                41                 RIPTIDES             NaN
42                42              LAMORINDA B             NaN
43                43            CHELSEA PIERS             NaN
44                44            THUNDER BLACK             NaN
45                45               BIG VALLEY             NaN
46                46         OLYMPUS AQUATICS             NaN
47                47  ROCKY MOUNTAIN NEPTUNES             NaN
48                48                    LYONS             NaN
49   14 & Under Boys                      NaN             NaN
50            Flight             Team\rFinish       Team Name
51               NaN                       49        SB 805 B
52                50                    CHAWP             NaN
53                51                  ADMIRAL             NaN
54                52               VANGUARD B             NaN
55                53                 CARLSBAD             NaN
56                54            SOUTH COAST A             NaN
57                55              STANFORD  B             NaN
58                56                     CMAC             NaN
59                57                RENEGADES             NaN
60                58          NEWPORT BEACH B             NaN
61                59             SB PREMIER A             NaN
62                60                 COMMERCE             NaN
63                61                  SOCAL C             NaN
64                62                  PATRIOT             NaN
65                63                 BACK BAY             NaN
66                64                DEL MAR B             NaN
67                65              GREENWICH B             NaN
68                66                    ELITE             NaN
69                67                 WESTSIDE             NaN
70                68                      TPC             NaN
71                69                  ONE WAY             NaN
72                70                    SBU A             NaN
73                71                SV OUTLAW             NaN
74                72         SAN JOSE ALMADEN             NaN
75                73                 TROJAN B             NaN
76                74                  CAPITAL             NaN
77                75                SOUTHSIDE             NaN
78                76       SAN DIEGO SHORES B             NaN
79                77               SACRAMENTO             NaN
80                78              BAKERSFIELD             NaN
81                79    TEAM VEGAS WATER POLO             NaN
82                80                      NCA             NaN
83                81                   KEARNS             NaN
84                82                NORTHWEST             NaN
85                83               FOOTHILL B             NaN
86                84                   SJ WPF             NaN
87                85              WEST VALLEY             NaN
88                86                   SOVA A             NaN
89                87                     NAVY             NaN
90                88                    ZILLA             NaN
91                89                   BOERNE             NaN
92                90              CC UNITED C             NaN
93                91         AMERICAN RIVER B             NaN
94                92         AMERICAN RIVER C             NaN
95                93    NORTH SAN DIEGO STARS             NaN
96                94               SJ EXPRESS             NaN
97                95                ROYAL 559             NaN
98                96                   SHAQ B             NaN
99   14 & Under Boys                      NaN             NaN
100           Flight             Team\rFinish       Team Name
101              NaN                       97  RANCHO TSUNAMI
102               98               MID VALLEY             NaN
103               99                     EAST             NaN
104              100              ROSE BOWL B             NaN
105              101                    TITAN             NaN
106              102                  PACIFIC             NaN
107              103                   P.V. B             NaN
108              104                     MAKO             NaN
109              105               STANFORD C             NaN
110              106       MODESTO/STANISLAUS             NaN
111              107                     SOAC             NaN
112              108              LAMORINDA C             NaN
113              109                   SOVA B             NaN
114              110               SJ ALMADEN             NaN

In [19]:
def clean_df_2018(df, filename):
    df.columns = ['Finish', 'Team', 'Blank']
    df_new = df[~df['Finish'].str.contains('Flight', na=False)]
    df_new = df_new[~df_new['Finish'].str.contains('Under', na=False)]
    
    new_finish = df_new.loc[df_new['Finish'].isnull(), 'Team']
    new_team = df_new.loc[df_new['Finish'].isnull(), 'Blank']

    df_new.loc[df_new['Finish'].isnull(), 'Team'] = new_team
    df_new.loc[df_new['Finish'].isnull(), 'Finish'] = new_finish
    df_new = df_new.drop('Blank', axis=1)
    
    df_new['Category'] = filename
    df_new['Age'] = df_new['Category'].str.extract(r'-([0-9]{2})')
    df_new['Sex'] = df_new['Category'].str.extract(r'[Uu]([GB]).')
    df_new = df_new.drop('Category', axis=1)
    df_new['Year'] = filename
    df_new['Year'] = df_new['Year'].str.extract('^([\w\-]{4})')
    
    df_new.loc[df_new['Sex'] == 'G', 'Sex'] = 'Girls'
    df_new.loc[df_new['Sex'] == 'B', 'Sex'] = 'Boys'
    
    return df_new

In [20]:
clean_df_2018(df, '2018JOresults-10UG.pdf')

    Finish                     Team Age    Sex  Year
1        1               VANGUARD A  10  Girls  2018
2        2            SOCAL BLACK A  10  Girls  2018
3        3               LA PREMIER  10  Girls  2018
4        4               STANFORD A  10  Girls  2018
5        5         SHORE AQUATICS A  10  Girls  2018
6        6          NEWPORT BEACH A  10  Girls  2018
7        7              LAMORINDA A  10  Girls  2018
8        8               FOOTHILL A  10  Girls  2018
9        9                DEL MAR A  10  Girls  2018
10      10                  OCWPC A  10  Girls  2018
11      11              SD Shores A  10  Girls  2018
12      12              GREENWICH A  10  Girls  2018
13      13                    680 A  10  Girls  2018
14      14                NORTHWOOD  10  Girls  2018
15      15                     ORWP  10  Girls  2018
16      16                 TROJAN A  10  Girls  2018
17      17              ROSE BOWL A  10  Girls  2018
18      18              CC UNITED A  10  Girls  2018
19      19                     SHAQ  10  Girls  2018
20      20                 LA JOLLA  10  Girls  2018
21      21             SOCAL GOLD B  10  Girls  2018
22      22                   P.V. A  10  Girls  2018
23      23          ROYAL 559 BLACK  10  Girls  2018
24      24             UTAH PREMIER  10  Girls  2018
25      25     HUNTINGTON BEACH WPC  10  Girls  2018
26      26                    CDM A  10  Girls  2018
27      27         AMERICAN RIVER A  10  Girls  2018
28      28                  SJWPF A  10  Girls  2018
29      29              ST. ANDREWS  10  Girls  2018
30      30                  TRIDENT  10  Girls  2018
31      31         SANTA CRUZ WAXEM  10  Girls  2018
32      32                    LAWPC  10  Girls  2018
33      33                    DAVIS  10  Girls  2018
34      34              CC UNITED B  10  Girls  2018
35      35               PRAETORIAN  10  Girls  2018
36      36   CHICAGO PARKS DISTRICT  10  Girls  2018
37      37                    680 B  10  Girls  2018
38      38              LAKE OSWEGO  10  Girls  2018
39      39            OREGON EMPIRE  10  Girls  2018
40      40              PUGET SOUND  10  Girls  2018
41      41                 RIPTIDES  10  Girls  2018
42      42              LAMORINDA B  10  Girls  2018
43      43            CHELSEA PIERS  10  Girls  2018
44      44            THUNDER BLACK  10  Girls  2018
45      45               BIG VALLEY  10  Girls  2018
46      46         OLYMPUS AQUATICS  10  Girls  2018
47      47  ROCKY MOUNTAIN NEPTUNES  10  Girls  2018
48      48                    LYONS  10  Girls  2018
51      49                 SB 805 B  10  Girls  2018
52      50                    CHAWP  10  Girls  2018
53      51                  ADMIRAL  10  Girls  2018
54      52               VANGUARD B  10  Girls  2018
55      53                 CARLSBAD  10  Girls  2018
56      54            SOUTH COAST A  10  Girls  2018
57      55              STANFORD  B  10  Girls  2018
58      56                     CMAC  10  Girls  2018
59      57                RENEGADES  10  Girls  2018
60      58          NEWPORT BEACH B  10  Girls  2018
61      59             SB PREMIER A  10  Girls  2018
62      60                 COMMERCE  10  Girls  2018
63      61                  SOCAL C  10  Girls  2018
64      62                  PATRIOT  10  Girls  2018
65      63                 BACK BAY  10  Girls  2018
66      64                DEL MAR B  10  Girls  2018
67      65              GREENWICH B  10  Girls  2018
68      66                    ELITE  10  Girls  2018
69      67                 WESTSIDE  10  Girls  2018
70      68                      TPC  10  Girls  2018
71      69                  ONE WAY  10  Girls  2018
72      70                    SBU A  10  Girls  2018
73      71                SV OUTLAW  10  Girls  2018
74      72         SAN JOSE ALMADEN  10  Girls  2018
75      73                 TROJAN B  10  Girls  2018
76      74                  CAPITAL  10  Girls  2018
77      75                SOUTHSIDE  10  Girls  2018
78      76       SAN DIEGO SHORES B  10  Girls  2018
79      77               SACRAMENTO  10  Girls  2018
80      78              BAKERSFIELD  10  Girls  2018
81      79    TEAM VEGAS WATER POLO  10  Girls  2018
82      80                      NCA  10  Girls  2018
83      81                   KEARNS  10  Girls  2018
84      82                NORTHWEST  10  Girls  2018
85      83               FOOTHILL B  10  Girls  2018
86      84                   SJ WPF  10  Girls  2018
87      85              WEST VALLEY  10  Girls  2018
88      86                   SOVA A  10  Girls  2018
89      87                     NAVY  10  Girls  2018
90      88                    ZILLA  10  Girls  2018
91      89                   BOERNE  10  Girls  2018
92      90              CC UNITED C  10  Girls  2018
93      91         AMERICAN RIVER B  10  Girls  2018
94      92         AMERICAN RIVER C  10  Girls  2018
95      93    NORTH SAN DIEGO STARS  10  Girls  2018
96      94               SJ EXPRESS  10  Girls  2018
97      95                ROYAL 559  10  Girls  2018
98      96                   SHAQ B  10  Girls  2018
101     97           RANCHO TSUNAMI  10  Girls  2018
102     98               MID VALLEY  10  Girls  2018
103     99                     EAST  10  Girls  2018
104    100              ROSE BOWL B  10  Girls  2018
105    101                    TITAN  10  Girls  2018
106    102                  PACIFIC  10  Girls  2018
107    103                   P.V. B  10  Girls  2018
108    104                     MAKO  10  Girls  2018
109    105               STANFORD C  10  Girls  2018
110    106       MODESTO/STANISLAUS  10  Girls  2018
111    107                     SOAC  10  Girls  2018
112    108              LAMORINDA C  10  Girls  2018
113    109                   SOVA B  10  Girls  2018
114    110               SJ ALMADEN  10  Girls  2018

In [21]:
for pdf in files_2018:
    
    df = read_pdf(pdf, pages='all', lattice=True)
    df_clean = clean_df_2018(df,pdf)
    data = pd.concat([data, df_clean], axis=0, sort=False)

## Import and clean excel files
The final files are excel and require a simpler function.

In [22]:
folder_path = "/home/jessie/Documents/Data"

files_2019 = os.listdir(folder_path)
files_2019 = [x for x in files_2019 if ('.xlsx' in x)]

In [23]:
def df_from_csv(path):
    df = read_csv(path, nrows=1) # read just first line for columns
    columns = df.columns.tolist() # get the columns
    cols_to_use = columns[:len(columns)-1] # drop the last one
    df = read_csv(path, usecols=cols_to_use)
    return df

In [24]:
files_2019

['NJO 2019 Session 2 Final Placing.xlsx',
 'NJO 2019 Session 1 Final Placing.xlsx']

In [25]:
def clean_excel(df, filename):
    df_new = df.drop('Flight', axis=1)
    df_new = df_new.set_index('Finish')
    df_new = df_new.apply(lambda col: col.str.upper())

    df_stacked = df_new.stack().reset_index()
    df_stacked = df_stacked.rename(columns = {'level_1':'Category', 0:'Team'})
    df_stacked['Age'] = df_stacked['Category'].str.extract(r'([0-9]{2})')
    df_stacked['Sex'] = df_stacked['Category'].str.extract(r'\b(\w+)$')
    df_stacked = df_stacked.drop('Category', axis=1)
    df_stacked['Year'] = filename
    df_stacked['Year'] = df_stacked['Year'].str.extract('([0-9]{4})')

    return df_stacked

In [26]:
for file in files_2019:
    df = pd.read_excel(file)
    df_clean = clean_excel(df, file)
    data = pd.concat([data, df_clean], axis=0, sort=False)

In [27]:
data['Year'].value_counts()

2019    875
2018    765
2015    704
2017    699
2016    642
2014    589
2012    559
2013    558
2011    512
2010    352
Name: Year, dtype: int64

In [28]:
data.head(20)

   Finish                            Team Age    Sex  Year
0       1         LAGUNA BEACH WATER POLO  10  Girls  2016
1       1               VANGUARD AQUATICS  12   Boys  2016
2       1             LOS ANGELES PREMIER  14   Boys  2016
3       1  STANFORD WATER POLO FOUNDATION  16   Boys  2016
4       1         REGENCY WATER POLO CLUB  18   Boys  2016
5       2           SANTA BARBARA PREMIER  10  Girls  2016
6       2                       CC UNITED  12   Boys  2016
7       2     SOCAL WATER POLO FOUNDATION  14   Boys  2016
8       2          SLEEPY HOLLOW AQUATICS  16   Boys  2016
9       2                  680 WATER POLO  18   Boys  2016
10      3               SANTA BARBARA 805  10  Girls  2016
11      3                  SHORE AQUATICS  12   Boys  2016
12      3               VANGUARD AQUATICS  14   Boys  2016
13      3        PRIDE WATER POLO ACADEMY  16   Boys  2016
14      3             LOS ANGELES PREMIER  18   Boys  2016
15      4  STANFORD WATER POLO FOUNDATION  10  Girls  2016
16      4    NORTH IRVINE WATER POLO CLUB  12   Boys  2016
17      4  STANFORD WATER POLO FOUNDATION  14   Boys  2016
18      4     SOCAL WATER POLO FOUNDATION  16   Boys  2016
19      4               VANGUARD AQUATICS  18   Boys  2016

## Cleaning Squads and Team Names
Indicating A/B/C teams, removing extra characters,

Strings to remove from Club name: 10-18, 2010-2018, ##U, ##B, ##G, ##s, B##, G##, GIRL(S), BOY(S), COED(S), JO(s), joq, (A-E), &, Under, (Tied...), -, /, \xad, ,, ., 's

to match: aquatics, water polo, club, federation, team, wp, club, polo, summer, organization, academy, swim, and, ac, inc, foundation,

replace / with space

orange but not orange county

In [29]:
data_clean = data.copy()
data_clean['og_name'] = data_clean['Team']

In [30]:
data_clean['Squad'] = data_clean['Team'].str.extract(r'\b([A-F])\b')
data_clean['Squad'] = data_clean['Squad'].fillna('A')

In [31]:
data_clean['Team'] = data_clean['Team'].str.replace('ORAGNE', 'ORANGE')

In [32]:
remove_words = ['[0-9]{2}', '[UBG][0-9]{2}', '[0-9]{2}[UBGS]' '20[0-9]{2}', 'U', 'B', 'G', 'GIRL', 'BOY', 'COED',
                'GIRLS', 'BOYS', 'COEDS', 'JO', 'JOQ', 'JOS', '[A-E]', '&', 'AND', 'UNDER', 'BLACK', 'GREEN', 'BLUE', 
                'BLU', 'RED', 'WHITE', 'YELLOW', 'PINK', 'MAROON', 'GOLD', 'SILVER', 'BRONZE', 'PURPLE', 'BLK', 'GREY']

pattern = r'\b(?:{})\b'.format('|'.join(remove_words))
data_clean['Team'] = data_clean['Team'].str.replace(pattern, '')

In [33]:
data_clean['Team'] = data_clean['Team'].str.replace('\t\r', '')
data_clean['Team'] = data_clean['Team'].str.replace('\s+', ' ', regex=True)
data_clean['Team'] = data_clean['Team'].str.replace(r'\BS\b', '')
data_clean['Team'] = data_clean['Team'].str.replace(r'\(TIED.+\)', '')
data_clean['Team'] = data_clean['Team'].str.replace(r'\(TIED.+', '')
data_clean['Team'] = data_clean['Team'].str.replace(r"[\"\'.,\\\(\)&/]", '')
data_clean['Team'] = data_clean['Team'].str.replace('\t\r', '')
data_clean['Team'] = data_clean['Team'].str.replace('xad', '')
data_clean['Team'] = data_clean['Team'].str.replace('\\xad', '')
data_clean['Team'] = data_clean['Team'].str.replace('', '')
data_clean['Team'] = data_clean['Team'].str.replace('-', '')
data_clean['Team'] = data_clean['Team'].str.replace(r'[0-9]{2}[UBGS]', '')
data_clean['Team'] = data_clean['Team'].str.replace(r'20[0-9]{2}', '')
data_clean['Team'] = data_clean['Team'].str.replace('ORANGE COUNTY', 'ORANGECOUNTY')
data_clean['Team'] = data_clean['Team'].str.replace(r'\b(ORANGE)\b', '')
data_clean['Team'] = data_clean['Team'].str.replace('\s+', ' ', regex=True)
data_clean['Team'] = data_clean['Team'].str.strip()

## Cleaning and matching club names

In [34]:
remove2 = ['AQUATIC', 'WATER POLO', 'CLUB', 'FEDERATION', 'TEAM', 'WP', 'WPC', 'POLO', 'POL', 'AQ', 'SUMMER', 
           'ORGANIZATION', 'ACADEMY', 'ORG', 'SWIM', 'AC', 'INC', 'FOUNDATION']
pat2 = r'\b(?:{})\b'.format('|'.join(remove2))
data_clean['Club'] = data_clean['Team'].str.replace(pat2, '').str.strip()
data_clean['Club'] = data_clean['Club'].str.replace('\s+', ' ', regex=True)

In [35]:
data_clean.loc[data_clean['Team'].str.contains('ACADEMY WATER POLO'), 'Club'] = 'ACADEMY'
data_clean.loc[data_clean['Team'] == 'EAST', 'Club'] = 'EAST'
data_clean['Club'] = data_clean['Club'].fillna('UNKNOWN')
data_clean.loc[data_clean['Team'] == '', 'Club'] = 'UNKNOWN'
data_clean['Club'] = data_clean['Club'].replace('ORANGECOUNTY', 'ORANGE COUNTY')

In [36]:
data_clean['Club'].value_counts().sort_index()

101                             1
14 SPRING                       1
16 SPRING                       1
209                             6
222                             1
241                             3
616                             1
680                           141
680 DRIVER                     15
680A                            1
A2                              3
ACADEMY                         6
ADMIRAL                        14
AETO                            2
AGWP                            1
AGWP NAVY                       1
ALAMEDA                         4
ALBUQUERQUE                     1
ALISO                           3
ALLIANCE                       31
ALUMNI                          1
AM RIV                          1
AM RIVER                       12
AMERICAN RIVER                 98
ANN ARBOR                       2
ANTEATER                        9
APACHE                          1
ARC                             1
ARROYO GRANDE                  21
ASA                             2
ATWATER MERCED                  8
ATWATERMERCED                   1
AVENGER                         1
BACK BAY                       21
BACK BAY KAHUNA                 1
BAINBRIDGE                      7
BAKERSFIELD                    43
BAKERSTFIELD                    1
BALL                            7
BANGARANG                       2
BAY                             2
BAY AREA SUNSET                 1
BEAR                            3
BEAST                           1
BEND                            2
BEND WAVE                       5
BIG VALLEY                     38
BLUECRUSH                       1
BOERNE                          5
BRENTWOOD SEAWOLVE              3
BROOKLYN HUSTLE                 2
BRUIN                          23
BUENA                           4
BURLINGAME                     16
BUXMONT                         1
BYE                             1
CAL                            13
CAL REPUBLIC                    4
CALIFORNIA REPUBLIC SC         14
CAPISTRANO VALLEY ALLIANCE      1
CAPITAL                         2
CAPITAL AREA PREMIER CAP        1
CAPITAL DC                     11
CAPITAL PREMIER                 3
CAPO VALLEY ALLIANCE            3
CARLSBAD                       66
CC SHARK                        1
CC UNITED                      65
CDM                            69
CDM JUNIOR                      1
CDM PATRIOT                     1
CENTRAL COAST                   1
CENTRAL COAST SHARK             6
CENTRAL FLORIDA                 1
CENTRAL FLORIDA SUN             1
CENTRAL PA EAGLE                1
CERRITO                         2
CFWPC                          10
CHAWP                          89
CHAWPWHITE                      9
CHEHALEM                        9
CHEHLAEMWP                      1
CHELSEA PIER                   39
CHI                             1
CHICAGO                         1
CHICAGO PARK                    2
CHICAGO PARK DISTRICT          29
CHICAGO PK DISTRICT             3
CHULA VISTA                     3
CLOVI                          50
CLOVI BEAR                      2
CLOVI COUGAR                    1
CLOVI NORTH                     1
CMAC                            6
CMAC 12                         1
CMAC ALL STAR                   1
COAST                           8
COLLEGE PARK S                  2
COLORADO                        8
COMMERCE                       97
CONQUEROR                      10
COP                             1
CORONA DEL MAR                  6
CORONADO                       13
COSTA DEL SUR S                 2
COSTA MESA                     23
CRUSH                           2
CTRL COAST SHARK                1
CVAC                           10
DACA                           24
DALLA                           5
DAVI                           86
DEL MAR                        71
DESERT                          1
DIABLO                         35
DIABLO ALLIANCE                34
DIRTY BAY                       4
DUKE CITY                       5
DWPC AGGIE                      1
DYNAMO                          8
EAST                            7
EAST COUNTY                     2
EAST SIDE                       1
EASTVALE                        2
ECWP                            1
ELITE                          45
ELITE RIVERSIDE                 3
ELLI                            4
EMPIRE                          8
ERH                             1
ESCONDIDO RIPTIDE               8
EUGENE CITY                     5
EUROSKILL                       1
EXETER                          3
EXPO SHARK                      2
FALCON                          4
FALLBROOK ASSOCIATED            1
FLO                            15
FOOTHILL                      115
FOOTHILL BACK                   1
FORCE                           1
FRASER VALLEY                   2
FULLERTON HILL                  5
GATEWAY                         1
GIG HARBOR                      1
GILRS14                         1
GOLDEN STATE                   13
GRANITE BAY                    11
GREAT LAKE                      2
GREENWICH                      96
GREENWICH WATER                 1
GULLIVER RIPTIDE               12
HANFORD                         1
HAWAIIAN ISLAND                 1
HB                              1
HBWPC                          18
HERRIMAN                        2
HOLA!                           3
HOUSTON                         6
HOUSTON STORM                   5
HUNTINGTON BEACH               73
HUNTINGTON BEACH G              1
IMPERIAL                        2
INTERNATIONAL                  36
IRVINE KAHUNA                  20
IRVINE KAHUNAWEST COAST         2
IRVINE KAJUNA                   1
ISLAND                          3
JACKRABBIT                      1
JESUIT                          7
JUNGLE CAT                     14
KAHUNA                         11
KAHUNA GREENWICH                1
KEARN                          29
KINGFISH                       10
KINGFISH WPF                    1
LA CANADA                       4
LA JOLLA                       36
LA JOLLA S                      4
LA PREMIER                     13
LAGUNA                         10
LAGUNA BACH                     1
LAGUNA BEACH                   45
LAKE OSWEGO                     5
LAMORINDA                     121
LAMORINDA BRENTWOOD             7
LANCER                          2
LAWPC                          38
LAZER                           1
LEGACY                          7
LIGHTNING                       3
LO AL                          14
LO ALAMITO                      1
LO ANGELE                      28
LO ANGELE ATHLETIC LAAC         1
LO ANGELE PREMIER              23
LODI                            6
LONG BEACH                      2
LONGHORN                       14
LRP                             2
LWC                             1
LWP                            12
LYON                           13
MAD DOG                         9
MAKO                            1
MARIN                          12
MAVERICK                        7
MAYFIELD 650                    5
MENLO PARK                     10
MERCED                          2
MESA                            4
MIAMI RIPTIDE                  15
MIAMI WHITECAP                  2
MICHIGAN                        1
MID MICHIGAN RAPTOR             1
MID VALLEY                     20
MIDMICHIGAN RAPTOR              1
MIDPEN                          3
MODESTO STAN                    3
MODESTON STAN                   2
MODESTOSTANISLAU               34
MONTEREY BAY UNITED             3
MOOSE                          15
MORGAN HILL                     5
MOUNTAIN PREMIER                6
MVPOLO                          6
MVPOLO 10                       2
MVPOLO 16                       3
N SELECT                        1
NAPA                            7
NAPA PREMIER                    7
NAPA VALLEY                     3
NARROW                          9
NAVY                           30
NCA                             4
NEW TRIER                       1
NEWPORT                        22
NEWPORT BEACH                  60
NEWPORT WPF                    11
NIPC                           24
NO ILL PC                       3
NO ILLINOI                      2
NORCAL                          4
NORSE                           1
NORTH BEACH                     1
NORTH DALLA SPARTAN             2
NORTH IRVINE                    4
NORTH PENN                      2
NORTH SAN DIEGO STAR           20
NORTH SHORE                     2
NORTH TEXA THUNDER              4
NORTHERN CALIFORNIA            18
NORTHERN SAN DIEGO NEPTUNE      2
NORTHWEST                       6
NORTHWEST CRUSH                 4
NORTHWEST ORCA                 17
NORTHWOOD                      51
NORTHWOOD H                     7
NORTHWOOD NAVY                 10
NOTHERN ELITE                   1
NSD STAR                       25
NWC                             9
NWCWATER                        2
NWPC                            4
NXT                             1
NYAC                            1
OAHU                            7
OAKDALE                         2
OC RIPTIDE                      2
OCEANSIDE                       1
OCWPC                          38
OFFSHORE                        7
OHANA                           9
OHLONE                          5
OLIMPIAKAN RESERVNER ORWP       3
OLIMPIKIAN ORWP                 1
OLYMPU                         12
ONE                             2
ONE WAY                         4
ORANGE COUNTY                  18
ORANGECOUNTY RIPTIDE           12
ORCA                            3
ORCUTT                          4
ORCUTT ASSOCIATION              7
ORCUTT ASSOCIATIONONE WAY       2
OREGON EMPIRE                   9
ORLANDO                         1
ORLANDO THUNDER                 1
ORLANDO UNITED                  1
ORWP                           22
ORWP TITAN                      4
PAC NW UNITED                   2
PACIFIC                        66
PACIFIC COAST RIPTIDE           1
PACIFIC VALLEY PREMIER          2
PALM SPRING                     1
PALO VERDE                      8
PARK CITY                       2
PASO ROBLE                      2
PATRIOT                         3
PEGASU                          3
PIERCE COUNTY                   4
PITTSBURGH                     12
PLACER COUNTY                   4
PNW SHORE                       4
PNW UNITED                      3
PORTERVILLE                     4
POTOMAC                         4
POWAY                           3
POWAY VALLEY                   14
POWER                           4
PRAETORIAN                     13
PRIDE                          32
PRINCETON                      11
PUGET                           3
PUGET SOUND                    37
PV                             33
RACER                           6
RAIDER                         20
RAIN CITY                      33
RANCHO SAN DIEGO NORSEMEN       3
RANCHO TSUNAMI                  8
RAPTOR                          2
REBEL                           4
REDLAND RENEGADE               18
REGENCU                         1
REGENCY                        22
RENEGADE                        4
RIPON                           9
RIPPON                          1
RIPTIDE                        17
RIVERSIDE                      42
ROCKFORD                       19
ROCKY MOUNTAIN                  1
ROCKY MOUNTAIN NEPTUNE         16
ROCKY MOUTAIN NEPTUNE           2
ROGUE                           2
ROSE BOWL                     120
ROYAL 559                      45
RR                              4
S BRUIN                         3
SACRAMENTO                     47
SACTO                           7
SADDLEBACK EL TORO SET          4
SAINT ANDREW                    1
SALT LAKE POSEIDON              1
SAN ANTONIO                     1
SAN DIEGO INTERNATIONAL         2
SAN DIEGO SHORE               108
SAN DIEGO SHORE 16              1
SAN DIEGO SHORE S               1
SAN FRANCISCO WARRIOR           6
SAN GABRIEL                     2
SAN JOSE                        9
SAN JOSE ALMADEN                9
SAN JOSE EXPRES                19
SAN JOSE WPF                    3
SAN JOSEALMADEN                27
SAN MARINO                      1
SAN MIGUEL                      4
SAN MIGUEL WPF                  2
SANTA BARBARA                  45
SANTA BARBARA 805              46
SANTA BARBARA PREMIER          27
SANTA CLARA                    13
SANTA CLARA SC                  9
SANTA CLARA VAL                 1
SANTA CRUZ                      2
SANTA CRUZ WAXEM               24
SARASOTA UNITED                 2
SB 805                         10
SB PREMIER                      6
SB UNITED                       1
SBU                             2
SBWPC                          21
SBWPF                           2
SC TRITON                      34
SC TRITON MIXED                 1
SCORPION                        1
SCOT                            9
SCRIPP                          8
SCSC                            1
SCSC 18A                        1
SCV                             4
SD SHORE                       39
SD SHORE 680                    1
SD SHROE                        1
SD Shores                       1
SEASIDE                         2
SEASIDE NAVY                    1
SEASIDE ROYAL                   1
SEATTLE                         7
SERPENT WARRIOR                 1
SET                           107
SET IRL                         1
SFLA HURRICAN                   1
SFLA HURRICANE                  1
SFV                             3
SFWPC                           1
SHAQ                           83
SHARK                           7
SHARK M                         1
SHAWP                           1
SHORE                          59
SHORE SOLANA                    1
SIERRA NEVADA                   1
SILICON VALLEY OUTLAW          16
SIMI ASSOCIATION                3
SJ ALAMEDA                      1
SJ ALMADEN                      1
SJ EXPRES                       4
SJ WPF                          1
SJA                             1
SJWPF                           2
SKIMMER                         7
SLEEPY HOLLOW                   6
SLEEPY HOLLOW SHAQ              1
SO BAY PENIN                    1
SO BAY UNITED                   2
SO BAY UTD                      1
SO FLORIDA                      1
SO PASADENA                     1
SOAC                            5
SOAC UCL                       13
SOAK                           11
SOCAL                         152
SOCAL FH                        1
SOLANO                          1
SOMA                            1
SON OF ODIN                     3
SOQUEL                          2
SOQUEL WAXEM                    4
SOUTH BAY PENINSULA             2
SOUTH BAY PENNINSULA            2
SOUTH BAY UNITED               39
SOUTH COAST                    60
SOUTH COUNTY HERRIMAN           3
SOUTH COUNTYHERRIMAN           10
SOUTH FLORIDA                  10
SOUTH PASADENA                 10
SOUTH VALLEY                   20
SOUTHERN                        5
SOUTHSIDE                       5
SOUTHSIDE HONEY BADGER          4
SOVA                            5
SPARTAN                        19
SPARTAN MI                     14
SPWPC                           1
ST ANDREW                       1
ST LOUI AREA SLAP               3
ST MARKS LION                   1
STANFORD                      169
STANTA CLARA                    1
STAR STRIPE                     3
STENFORD                        1
STOCKTON                       16
STORM                           4
SUNSET SAN DIEGO                1
SUPREME                         4
SV OUTLAW                       4
T HILL                          4
THE SANTA BARBARA PAL           1
THILL                           2
THIRD COAST                    10
THUNDER                        66
THUNDERBIRD                     1
TIGER                          20
TIMBERWOLVE                     4
TITAN                           3
TM VEGA HEND                    4
TM VEGAHENDERSON                2
TPC                             4
TPC SHARK                       8
TRIDENT                         7
TRITON VALLEY                   1
TROJAN                         42
TROJAN CA                      19
TROJAN CARDINAL                10
TUALATIN HILL                  36
TULARE                          2
TUSTIN IRVINE PATRIOT           2
TUSTINIRVINE PATRIOT            9
TWWP                            1
TWWPMAROON                      1
UNITED                         48
UNITED COZY                     1
UNIVERSITY PACIFIC              4
UNKNOWN                         9
UTAH PREMIER                   18
VALLEY                          5
VALLEY FALCON                   4
VALLEY FALCON IRL               1
VALLEY FALCON OY                3
VANGUARD                       61
VANGUARD SENIOR                 1
VC PREMIER                      5
VC UNITED                       2
VEGA                           24
VEGA 18                         1
VEGAHENDERSON                   2
VENTURA                         3
VIKING                          1
VIPER PIGEON                   68
VIPER PIGEON NORTH              5
VIPER PIGEON NORTH WEST         5
VIPER PIGEON SOUTH              7
VIPER PIGEON SOUTH EAST         2
VIPER PIGEON WEST               3
VISALIA UNITED                  2
W SUB NAPERVILLE                2
WASHINGTON WAVE                 2
WATERDOG                        1
WEST COAST                     11
WEST COAST AQAUTIC              2
WEST HOUSTON                   10
WEST SACRAMENTO                 1
WEST SUB                        2
WEST SUB NAPERVILLE             5
WEST SUBURBAN                   8
WEST SUBURBAN NAPERVILLE        1
WEST VALLEY                    58
WESTSIDE                       28
WILAMETTE                       1
WILAMETTE VALLEY                1
WILLAMETTE                      3
WILLAMETTE VALLEY               2
WINDY CITY                      9
WOLVERINE                      15
WOODCREEK                       1
XTREME                         21
Y PRO                           3
YCF                             2
YETI                            1
ZILLA                           3
Name: Club, dtype: int64

In [37]:
data_clean[data_clean['Club'].str.contains('COUNTY')]

,Finish,Team,Age,Sex,Year,og_name,Squad,Club
38,9,ORANGECOUNTY WATER POLO CLUB,14,Boys,2016,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
52,12,ORANGECOUNTY WATER POLO CLUB,18,Boys,2016,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
55,13,ORANGECOUNTY WATER POLO CLUB,16,Boys,2016,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
109,27,ORANGECOUNTY WATER POLO CLUB,12,Boys,2016,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
221,57,ORANGECOUNTY WATER POLO CLUB,14,Boys,2016,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
285,78,ORANGECOUNTY WATER POLO CLUB,16,Boys,2016,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
339,96,SOUTH COUNTYHERRIMAN POLO,16,Boys,2016,SOUTH COUNTY-HERRIMAN POLO,A,SOUTH COUNTYHERRIMAN
340,96,SOUTH COUNTYHERRIMAN POLO,18,Boys,2016,SOUTH COUNTY-HERRIMAN POLO,A,SOUTH COUNTYHERRIMAN
343,99,ORANGECOUNTY RIPTIDE,16,Boys,2016,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
10,3,ORANGECOUNTY WATER POLO CLUB,10,Mixed,2013,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
219,62,PLACER COUNTY WATER POLO,18,Girls,2013,PLACER COUNTY WATER POLO GIRLS 18U,A,PLACER COUNTY
240,73,PLACER COUNTY WATER POLO,16,Girls,2013,PLACER COUNTY WATER POLO GIRLS 16U,A,PLACER COUNTY
32,7,ORANGECOUNTY WPC,16,Boys,2012,ORANGE COUNTY WPC,A,ORANGE COUNTY
46,10,ORANGECOUNTY WPC,14,Boys,2012,ORAGNE COUNTY WPC,A,ORANGE COUNTY
23,5,ORANGECOUNTY WATER POLO CLUB,16,Boys,2013,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
36,8,ORANGECOUNTY WATER POLO CLUB,12,Boys,2013,ORANGE COUNTY WATER POLO CLUB - BLUE,A,ORANGE COUNTY
93,21,ORANGECOUNTY WATER POLO CLUB,18,Boys,2013,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
222,55,ORANGECOUNTY RIPTIDE,18,Boys,2013,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
229,56,EAST COUNTY AQUATIC,16,Boys,2017,EAST COUNTY AQUATICS,A,EAST COUNTY
333,99,ORANGECOUNTY RIPTIDE,16,Boys,2017,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
205,46,SOUTH COUNTYHERRIMAN POLO,18,Girls,2015,SOUTH\t\r COUNTY-HERRIMAN\t\r POLO,A,SOUTH COUNTYHERRIMAN
207,47,PIERCE COUNTY WATER POLO,16,Girls,2015,PIERCE\t\r COUNTY\t\r WATER\t\r POLO,A,PIERCE COUNTY
278,79,ORANGECOUNTY RIPTIDE,16,Girls,2015,ORANGE\t\r COUNTY\t\r RIPTIDE,A,ORANGECOUNTY RIPTIDE
14,3,ORANGECOUNTY WATER POLO CLUB,18,Boys,2014,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
58,14,ORANGECOUNTY WATER POLO CLUB,12,Boys,2014,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
79,19,ORANGECOUNTY WATER POLO CLUB,14,Boys,2014,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
80,19,ORANGECOUNTY WATER POLO CLUB,16,Boys,2014,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
318,99,ORANGECOUNTY RIPTIDE,16,Boys,2014,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
215,48,SOUTH COUNTYHERRIMAN POLO,16,Girls,2017,SOUTH COUNTY-HERRIMAN POLO,A,SOUTH COUNTYHERRIMAN
237,55,ORANGECOUNTY RIPTIDE,18,Girls,2017,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
276,72,SOUTH COUNTYHERRIMAN POLO,18,Girls,2017,SOUTH COUNTY-HERRIMAN POLO,A,SOUTH COUNTYHERRIMAN
45,10,ORANGECOUNTY WATER POLO CLUB,10,Mixed,2014,ORANGE COUNTY WATER POLO CLUB,A,ORANGE COUNTY
175,40,PIERCE COUNTY WATER POLO,16,Girls,2014,PIERCE COUNTY WATER POLO,A,PIERCE COUNTY
212,54,ORANGECOUNTY RIPTIDE,18,Girls,2014,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
224,60,PLACER COUNTY WATER POLO,18,Girls,2014,PLACER COUNTY WATER POLO GIRLS 18U,A,PLACER COUNTY
259,83,PLACER COUNTY WATER POLO,16,Girls,2014,PLACER COUNTY WATER POLO GIRLS 16U,A,PLACER COUNTY
185,44,PIERCE COUNTY WATER POLO,18,Boys,2015,PIERCE\t\r COUNTY\t\r WATER\t\r POLO,A,PIERCE COUNTY
366,95,SOUTH COUNTYHERRIMAN POLO,18,Boys,2015,SOUTH\t\r COUNTY-HERRIMAN\t\r POLO,A,SOUTH COUNTYHERRIMAN
418,119,PIERCE COUNTY WATER POLO,16,Boys,2015,PIERCE\t\r COUNTY\t\r WATER\t\r POLO,A,PIERCE COUNTY
215,48,SOUTH COUNTYHERRIMAN POLO,16,Girls,2016,SOUTH COUNTY-HERRIMAN POLO,A,SOUTH COUNTYHERRIMAN
237,55,ORANGECOUNTY RIPTIDE,18,Girls,2016,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
276,72,SOUTH COUNTYHERRIMAN POLO,18,Girls,2016,SOUTH COUNTY-HERRIMAN POLO,A,SOUTH COUNTYHERRIMAN
35,8,ORANGECOUNTY WPC,10,Mixed,2012,ORANGE COUNTY WPC,A,ORANGE COUNTY
74,72,SOUTH COUNTY HERRIMAN POLO,14,Girls,2018,SOUTH COUNTY HERRIMAN POLO,A,SOUTH COUNTY HERRIMAN
67,65,EAST COUNTY,18,Boys,2018,EAST COUNTY,A,EAST COUNTY
79,77,ORANGECOUNTY RIPTIDE,18,Boys,2018,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
44,44,SOUTH COUNTY HERRIMAN POLO,18,Girls,2018,SOUTH COUNTY HERRIMAN POLO,A,SOUTH COUNTY HERRIMAN
68,66,ORANGECOUNTY RIPTIDE,16,Boys,2018,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
98,96,SOUTH COUNTY HERRIMAN POLO,16,Boys,2018,SOUTH COUNTY HERRIMAN POLO,A,SOUTH COUNTY HERRIMAN
313,67,ORANGECOUNTY RIPTIDE,18,Girls,2019,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
354,81,SOUTH COUNTYHERRIMAN POLO,16,Girls,2019,SOUTH COUNTY-HERRIMAN POLO,A,SOUTH COUNTYHERRIMAN
239,60,ORANGECOUNTY RIPTIDE,18,Boys,2019,ORANGE COUNTY RIPTIDE,A,ORANGECOUNTY RIPTIDE
362,94,SOUTH COUNTYHERRIMAN POLO,18,Boys,2019,SOUTH COUNTY-HERRIMAN POLO,A,SOUTH COUNTYHERRIMAN

In [38]:
data_clean.loc[data_clean['og_name'].str.contains('TIED'), 'Tie'] = 1
data_clean['Tie'] = data_clean['Tie'].fillna(0)

In [39]:
data_clean.head()

,Finish,Team,Age,Sex,Year,og_name,Squad,Club,Tie
0,1,LAGUNA BEACH WATER POLO,10,Girls,2016,LAGUNA BEACH WATER POLO,A,LAGUNA BEACH,0.0
1,1,VANGUARD AQUATIC,12,Boys,2016,VANGUARD AQUATICS,A,VANGUARD,0.0
2,1,LO ANGELE PREMIER,14,Boys,2016,LOS ANGELES PREMIER,A,LO ANGELE PREMIER,0.0
3,1,STANFORD WATER POLO FOUNDATION,16,Boys,2016,STANFORD WATER POLO FOUNDATION,A,STANFORD,0.0
4,1,REGENCY WATER POLO CLUB,18,Boys,2016,REGENCY WATER POLO CLUB,A,REGENCY,0.0

In [40]:
data_clean.to_csv('ranking_data.csv')